{% extends 'base.html.twig' %}

{% block titre %}sign in{% endblock %}

{% block main %}
<div class="col-4 my-5">
    <h1>sign in</h1>

    {{ form_start(registrationForm) }}
    
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        

        <button type="submit" class="btn btn-success my-3">sign in</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}

