{% extends 'base.html.twig' %}

{% block title %}Annuler {{ outing.name }}{% endblock %}

{% block main %}
    <div class="col-6 offset-3">
        {% for message in app.flashes('danger') %}
            <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
                <div class="alert alert-danger">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between">
                <h5>Campus : {{ outing.campus.name }}</h5>
                <h6>Organisé par : {{ outing.organizer.pseudo }}</h6>
            </div>
            <div class="card-body">
                <h5 class="text-center card-title display-2">{{ outing.name }}</h5>
                <div class="row mt-5">
                    <div class="col-6">
                        <h6 class="text-center">Organisation</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Date et heure :</div>
                                    <div class="col-6">{{ outing.startDate |date('d M Y à H:i') }}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Date limite d'inscription :</div>
                                    <div class="col-6">{{ outing.limitDate | date('d M Y') }}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Nb de places restantes :</div>
                                    <div class="col-6">{{ outing.nbInscription-outing.attendees.count }}
                                        / {{ outing.nbInscription }}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Durée :</div>
                                    <div class="col-6">{{ outing.duration }} minutes</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6 class="text-center">Lieu</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Lieu :</div>
                                    <div class="col-6">{{ outing.place.name }}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Rue :</div>
                                    <div class="col-6">{{ outing.place.street }}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Code postal :</div>
                                    <div class="col-6">{{ outing.place.city.postCode }}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">Ville :</div>
                                    <div class="col-6">{{ outing.place.city.name }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mt-5">
                    <h6>Motif d'annulation</h6>
                    <form action="{{ path('outing_cancel',{'id':outing.id}) }}" , method="post">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Motif d'annulation" name="outingInfo"
                                      id="outingInfo"
                                      style="height: 100px"></textarea>
                            <label for="outingInfo">Motif d'annulation</label>
                        </div>
                        <div class="d-flex justify-content-center my-3">
                            <button type="submit" name="submit" value="cancel" class="btn btn-danger me-2">Annuler la
                                sortie
                            </button>
                            <a href="{{ path('app_outing') }}" type="submit" name="submit" value="cancel"
                               class="btn btn-outline-secondary">Retour</a>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}