{% extends 'base.html.twig' %}
{% block title %}Afficher une sortie{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row ">
        <div class="col">
            <div>
                <label class="text-secondary p-2">Nom :</label>
                {{ outing.name }}
            </div>

            <div>
                <label class="text-secondary p-2">Date et heure de la sortie :</label>
                {{ outing.startDate |format_datetime() }}
            </div>

            <div>
                <label class="text-secondary p-2">Date limite d'inscription :</label>
                {{ outing.limitDate |format_datetime() }}
            </div>

            <div>
                <label class="text-secondary p-2"> Nombres de places :</label>
                {{ outing.nbInscription }}
            </div>

            <div>
                <label class="text-secondary p-2"> Durée :</label>
                {{ outing.duration }}
            </div>

            <div>
                <label class="text-secondary p-2">Description et infos :</label>
                {{ outing.outingInfo }}
            </div>
        </div>


        <div class="col">
            <div>
                <label class="text-secondary p-2">Campus :</label>
                {{ outing.campus }}
            </div>

            <div>
                <label class="text-secondary p-2">Lieu :</label>
                {{ outing.place }}
            </div>

            <div>
                <label class="text-secondary p-2">Rue :</label>
                {{ outing.place.street }}
            </div>

            <div>
                <label class="text-secondary p-2"> Code Postal :</label>
                {{ outing.place.city.postCode }}
            </div>

            <div>
                <label class="text-secondary p-2"> Latitude :</label>
                {{ outing.place.latitude }}
            </div>

            <div>
                <label class="text-secondary p-2"> Longitude :</label>
                {{ outing.place.longitude }}
            </div>
        </div>
    </div>

    <div class="container">

        <br>
        <h4> Listes des participants inscrits :</h4>
    </br>
    </div>





{% endblock %}
