{% extends 'base.html.twig' %}

{% block title %}{{outing.name}}{% endblock %}

{% block main %}
<div class="col-6 offset-3">
    <h2>{{ outing.name }}</h2>
    <div class="row">
        <div class="col">
            <div class="row">
                <label for="name" class="col-7 col-form-label">Nom de la sortie :</label>
                <div class="col-5">
                    <input id="name" type="text" readonly class="form-control-plaintext" value="{{ outing.name }}">
                </div>
                <label for="startDate" class="col-7 col-form-label">Date et heure de sortie :</label>
                <div class="col-5">
                    <input type="text" readonly class="form-control-plaintext" value="{{ outing.startDate | date('d M Y')}}">
                </div>
                <label for="name" class="col-7 col-form-label">Date limite d'inscription :</label>
                <div class="col-5">
                    <input type="text" readonly class="form-control-plaintext" value="{{ outing.limitDate | date('d M Y')}}">
                </div>
                <label for="name" class="col-7 col-form-label">Nombre de place :</label>
                <div class="col-5">
                    <input type="text" readonly class="form-control-plaintext" value="{{ outing.nbInscription }} placess">
                </div>
                <label for="name" class="col-7 col-form-label">Durée :</label>
                <div class="col-5">
                    <input type="text" readonly class="form-control-plaintext" value="{{ outing.duration }} min">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <label for="campus" class="col-6 col-form-label">Campus</label>
                <div class="col-6">
                    <input type="text" readonly class="form-control-plaintext" value="{{ outing.campus.name }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}