{% extends 'base.html.twig' %}

{% block title %}Hello OutingController!{% endblock %}

{% block main %}
    <h2>Utilisateur connecté : {{ user.firstName }}</h2>
    <div class="row">
        <div class="col-3 my-5 bg-secondary text-light p-4">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.campus) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.search) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.dateStarted) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.dateEnded) }}
                </div>
            </div>
            <div class="small">
                {{ form_row(form.isOrganizer) }}
                {{ form_row(form.isRegistered) }}
                {{ form_row(form.isNotRegistered) }}
                {{ form_row(form.isOver) }}
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Rechercher</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-9 my-5 px-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrit / Place</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for o in outings %}
                    <tr>
                        <td>{{ o.name }}</td>
                        <td>{{ o.startDate | date('d/m/Y h:i') }}</td>
                        <td>{{ o.limitDate | date('d/m/Y') }}</td>
                        <td>{{ o.attendees|length }} / {{ o.nbInscription }}</td>
                        <td>{{ o.state.libelle }}</td>
                        <td>
                            {% if app.user in o.attendees %}Inscrit {% endif %}
                            {% if not app.user in o.attendees %}Non Inscrit {% endif %}
                        </td>
                        <td>{{ o.organizer.firstname }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
