{% extends 'base.html.twig' %}

{% block title %}Hello OutingController!{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-3 my-5 bg-dark text-light p-4">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.campus, {value: app.user.campus.name ~ ""}) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.search) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.dateStarted) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.dateEnded) }}
                </div>
            </div>
            <div class="small">
                {{ form_row(form.isOrganizer) }}
                {{ form_row(form.isRegistered) }}
                {{ form_row(form.isNotRegistered) }}
                {{ form_row(form.isOver) }}
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Rechercher</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-9 my-5 px-5 ">
            <table class="table table-hover table-light table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrit / Place</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                {% for o in outings %}
                    {#                    {% if ((o.state.libelle == 'Créee')and(app.user == o.organizer)) or (()and())%} #}

                    {#                    {% endif %} #}
                    <tr>
                        <td><a href="{{ path('outing_details',{'id':o.id}) }}">{{ o.name }}</a></td>
                        <td>{{ o.startDate | date('d/m/Y H:i') }}</td>
                        <td>{{ o.limitDate | date('d/m/Y') }}</td>
                        <td>{{ o.attendees|length }} / {{ o.nbInscription }}</td>
                        <td><span class="badge
                                {% if o.state.libelle == 'Annulée'%}
                                    bg-danger
                                {% elseif o.state.libelle == 'Ouverte' %}
                                    bg-primary
                                {% elseif o.state.libelle == 'Clôturée' %}
                                    bg-warning
                                {% elseif o.state.libelle == 'Créée' %}
                                    bg-secondary
                                {% elseif o.state.libelle == 'Activité en cours' %}
                                    bg-success
                                {% elseif o.state.libelle == ('Passée' or 'Historisée') %}
                                    bg-dark text-light
                                {% endif %}">{{ o.state.libelle }}</span></td>
                        <td>
                            {% if app.user in o.attendees %}Inscrit {% endif %}
                            {% if not app.user in o.attendees %}Non Inscrit {% endif %}
                        </td>
                        <td>{{ o.organizer.firstname }}</td>
                        <td>
                            {#Publication de la sortie si elle est créée et que l'utilisateur connecté est bien l'organisateur #}
                            {% if (o.organizer == app.user) and (o.state.libelle == 'Créée') %}
                                <a href="{{ path('outing_published',{'id':o.id}) }}" class="btn btn-success"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Publier">
                                    <i class="fa fa-bullhorn"></i>
                                </a>
                            {% endif %}
                            {#Si l'utilisateur est inscrit, il peut se désister avant le début de l'activité #}
                            {% if (app.user in o.attendees) and (o.state.libelle == 'Ouverte') or (o.state.libelle == 'Clôturée') %}
                                <a href="{{ path('outing_withdraw',{'id':o.id}) }}" class="btn btn-danger"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Se désister">
                                    <i class="fa fa-user-minus"></i>
                                </a>
                            {% endif %}
                            {#Si l'utilisateur n'est pas dans la liste des participants est que le statut est ouvert, il peut s'inscrire #}
                            {% if (app.user not in o.attendees) and (o.state.libelle == 'Ouverte') %}
                                <a href="{{ path('outing_register',{'id':o.id}) }}" class="btn btn-primary"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="S'inscrire">
                                    <i class="fa fa-user-plus"></i>
                                </a>
                            {% endif %}
                            {#Si l'utilisateur est bien l'organisateur et que l'activité n'a pas débutée, il peut l'annuler #}
                            {% if (app.user == o.organizer) and ((o.state.libelle == 'Ouverte') or (o.state.libelle == 'Clôturée')) %}
                                <a href="{{ path('outing_cancel',{'id':o.id}) }}" class="btn btn-warning"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Annuler">
                                    <i class="fa fa-ban"></i>
                                </a>
                            {% endif %}
                            {# Si l'utilisateur est bien l'organisateur et que l'activité n'est pas ouverte il peut la supprimer#}
                            {% if (app.user == o.organizer) and (o.state.libelle == 'Créée') %}
                                <a href="{{ path('outing_delete',{'id':o.id}) }}" class="btn btn-danger"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                            {# Si l'utilisateur est bien l'organisateur et que l'activité n'est pas ouverte il peut la modifier#}
                            {% if (app.user == o.organizer) and (o.state.libelle == 'Créée') %}
                                <a href="{{ path('outing_update',{'id':o.id}) }}" class="btn btn-secondary"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
