{% extends 'base.html.twig' %}

{% block title %} Ajouter modifier Profil {% endblock %}


{% block main %}

    <div class="row justify-content-center align-items-center">
        <h2 class="text_center"> Mon Profil</h2>
    </div>

    <div class="container">
    <div class="col-4 ">
        <img class="profil" src="{{ asset('image/profil.png') }}" width="200" alt="profil">
        {#            <img src="{{ asset('uploads/user_image/' ~  user.picture) }}"> #}
    </div>

    <div class="row justify-content-center align-items-center">

        <div class="col-4 my-4">

            {{ form_start (formulaire) }}

            {{ form_widget (formulaire) }}

            <div class="container">
                <div class="row">
                    <div class="col-sm-4 offset-2 ">
                        <div>
                        <button class="btn btn-primary" type="submit">Ajouter</button>
                        </div>
                            <div>

                            <a href="{{ path('app_outing') }}" class="btn btn-outline-secondary"
                               style="width: 130px">Retour</a>
                        </div>
                    </div>

                </div>
            </div>


            {{ form_end (formulaire) }}
        </div>

    </div>



{% endblock %}